parameters:
  paths:
    - config
    - database
    - routes
    - src

  level: 0

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    - "#Unsafe usage of new static\\(\\)#"
    - "#extends unknown class Illuminate\\\\Routing\\\\Attributes\\\\Controllers\\\\Middleware#"
    - "#calls parent::__construct\\(\\) but .+ does not extend any class#"
